In [4]:
print("Python programming language is both procedural"+
       "and object oriented programming language that has become"+
       "quit popular among the data science community for its ease of"+
       "use and readability")

Python programming language is both proceduraland object oriented programming language that has becomequit popular among the data science community for its ease ofuse and readability

Variables in python

In [6]:
#this is the first cmmnt
temp = "this is called temporary variable"
text = "# this is not a comment because it's inside quotes"

print(temp)
text

this is called temporary variable

"# this is not a comment because it's inside quotes"

 Using Python as a Calculator

In [10]:
(90-2+2+7)

97

In [11]:
8/5

1.6

In [12]:
9.8//4.6

2.0

In [13]:
2**7

128

The equal sign (=) is used to assign a value to a variable. Afterwards, no result is displayed before the next interactive prompt:

In [14]:
width = 20
heihgt = 17
area = width*heihgt
area

340

In [15]:
tax = 12.56/100
price = 100.70
tax*price

12.647920000000003

In [16]:
price +_

113.34792

In [17]:
lofi = 2.3651
lofi +_
lofi

2.3651

In [18]:
round(_,2)

2.37

In [22]:
round(_,44)

2.37

In [23]:
'Spam eggs'

'Spam eggs'

In [24]:
'doesn\'t'

"doesn't"

In [25]:
'This is\'t just a course'

"This is't just a course"

In [26]:
"\"Yes,\" they said."

'"Yes," they said.'

In [27]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [29]:
print('C:\some\name') # here \n means newline!

C:\some
ame

In [30]:
print(r'C:\some\name')  # note the r before the quote

C:\some\name

In [31]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

In [32]:
'Ba'+ 2*'n'+'ana'

'Bannana'

In [33]:
'Py' 'Thon'

'PyThon'

In [36]:
text = ('Put several strings within parentheses '

        'to have them joined together.')
text

'Put several strings within parentheses to have them joined together.'

In [39]:
prefix = 'Moro'+2*'c'+'o'
prefix

'Morocco'

In [40]:
('un'*3)'ium'

SyntaxError: invalid syntax (2442087865.py, line 1)

In [42]:
big_name = "Hubert Blaine Wolfeschlegelsteinhausenbergerdorff Sr"
big_name

'Hubert Blaine Wolfeschlegelsteinhausenbergerdorff Sr'

In [59]:
big_name[:]

'Hubert Blaine Wolfeschlegelsteinhausenbergerdorff Sr'

In [52]:
big_name[:6]

'Hubert'

In [53]:
big_name[7:14]

'Blaine '

In [55]:
big_name[14:-3]

'Wolfeschlegelsteinhausenbergerdorff'

In [58]:
big_name[-2:]

'Sr'

In [63]:
big_name[:7] + big_name[7:14] + big_name[14:-2] + big_name[-2:]

'Hubert Blaine Wolfeschlegelsteinhausenbergerdorff Sr'

In [64]:
s = 'supercalifragilisticexpialidocious'
len(s)

34

In [66]:
s[0:]

'supercalifragilisticexpialidocious'

In [72]:
x=0
for i in range(len(s)):
    if s[i] == 'a' or 'e' or 'i' or 'o' or 'u':
        x+=1
        
print(x)

34

In [84]:
ls = [1,2,3]
tp = ([1,2,3])

ls == tp
sum=ls[0]+ls[1]+ls[2]
print(sum)

6

In [5]:
x,y,z=10,20,3*10
print(x,y,z)

10 20 30

In [6]:
a,b,c=1,"Python","Programming"
print(a,b,c)

1 Python Programming

Global variables in python

In [7]:
def update():
    global x
    x = 10+10*10
update()
print(x)

110

Types of Operators in Python -

    Assignment Operators
    Comparison Operators
    Identity Operators
    Bitwise Operators
    Arithmetic Operators
    Logical Operators
    Membership Operators

#Assignment Operators

In [9]:
a=3
b=4
print("a :"+str(a))
print("b :"+str(b))

a :3
b :4

In [10]:
a+=a  #a = a+a=3+3=6
print(a)

6

In [16]:
a+=b # a = a+b = 6+4
a

30

In [21]:
x= 10
z = 2
x/=z #x=x/z=10/2= 5
x

5.0

In [22]:
res = x/a
res

0.16666666666666666

In [23]:
10//3

3

In [26]:
mul = 'Hi'*5
mul

'HiHiHiHiHi'

In [29]:
mod = 7%5
mod

2

In [30]:
power = 2**10
power

1024

#Comparison Operators

In [31]:
 a = False
 b = True
a > b

False

In [32]:
x = 9.9
z = 1.9
x != z

True

In [39]:
n = 100
for i in range(n):
    if n%2==0:
        print("even")
    else:
        print("odd")

even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even
even

In [44]:
x = a
z = 'a'
if x == z:
    print("equal")
else:
    print("not equal")

x != z

not equal

True

In [43]:
x!=z:

SyntaxError: invalid syntax (4205957159.py, line 1)

In [46]:
x=10
x/=5
x

2.0

In [48]:
logic = 1 or 0
logic

0

In [49]:
logic1 = 1 and 1
logic1

1

In [51]:
x=False
y=20
print('not x is',not x)

not x is True

python bitwise operators
    . &  Binary AND
    . |  Binary OR
    . ^  Binary XOR
    . ~  Binary Ones Complement
    . << Binary left shift
    . >> Binary right shift

In [54]:
a=10
b=4
print(a & b)

0

In [59]:
x = 30
z = 2
print(x | z)

30

In [60]:
m = 10
n = 4
#print bitwise XOR operation
print(m ^ n)

14

Binary Ones Complement Bitwise Operator

In [66]:
u = 10
m = -4
print(~u)
print(~m)

-11
3

Python<< Binary Left shift Bitwise Operator

In [68]:
a = 11
b = 4
# print bitwise left shift operation
print(a << 2)

44

Python >> Binary Right shift Bitwise Operator

In [69]:
a = 10
b = 4
# print bitwise right shift operation 
print(a >> 2)

2

# Python_Membership_Operators

Membership Operators are mainly used in python to find whether a value or variable is present in a sequence (string, tuple, list, set, and directory). “In” and “Not In” are the two membership operators available in python.

In [1]:
a=10
list = [2,45,1,6,9,1,10,3]
print(a in list)

True

In [2]:
name = ("shamim","hasan","sarkar","sujon","jakir")
print("hasan" not in name)

False

In [3]:
print("sujon" in name)

True