# Python Assignment Statements

In [1]:
spam = 40
spam

40

In [2]:
eggs = 4
spam + eggs

44

In [3]:
spam + eggs + spam

84

In [5]:
spam = spam+2
spam

44

In [6]:
yolo = 9
yolo+=3 #yolo = yolo + 3 = 9+3=12
yolo

12

In [7]:
yolo-=3
yolo

9

In [9]:
uu=3
uu*=3
uu

9

In [10]:
uu/=3
uu

3.0

In [11]:
x=33
x%=3 # x = x%3 = 33%3 =0
x

0

In [12]:
ff = 31
ff//=2
ff

15

In [13]:
nos = 2
nos**=10
nos

1024

In [14]:
cc = 30
cc&= 3
cc

2

In [15]:
x = 5 
x |= 3
x

7

In [16]:
will= 9
will = will^3
will

10

In [81]:
char op = operatorStack.pop();
int op1 = operandStack.pop();
int op2 = operandStack.pop();
if (op == '+')
operandStack.push(op2 + op1);
else if (op == '-')
operandStack.push(op2 - op1);
else if (op == '*')
operandStack.push(op2 * op1);

SyntaxError: invalid syntax (2797004905.py, line 1)

In [2]:
#swap two numbers
a = 20
b = 35
print("Before Swapping")
print("a :",a)
print("b :",b)
temp = a
a = b
b = temp
print("After Swapping")
print("a :",a)
print("b :",b)

Before Swapping
a : 20
b : 35
After Swapping
a : 35
b : 20

In [7]:
jim = 33
if jim>40:
    jim-=1
else:
    jim+=1
    
print(jim)

34

In [8]:
hope = 2.25
hope //=2
hope

1.0

In [11]:
dib = 15.36
nib = 21.33
hib = 85.22
res = dib*nib+hib-2
print(res)
type(res)==type(dib)

410.8488

True

# Python Comparison Operators

In [19]:
big = 101
large = 1001
if big == large:
    print( "something equal")
if big != large:
    print("not equal")
if big>large:
    print("big is greater than large")
if big<large:
    print("large is greater than big")
if big>=large:
    print("big is greater and equal to large")
if big<=large:
    print("large is greater and equal to big")

not equal
large is greater than big
large is greater and equal to big

In [26]:
arr=[50,10,60,3,33,25]
find = 33
for i in range(len(arr)):
    if arr[i]==find:
        print(find,"is found in the array index of ",i)

33 is found in the array index of  4

In [27]:
'sujon' == 'jakir'

False

In [28]:
'sujon' == 'snigdha'

False

In [35]:
'apple' > 'bananna'

False

In [30]:
'apple' < 'orange'

True

In [34]:
'baba' < 'mama'

True

In [38]:
'Bangladesh' < 'bangladesh'

True

In [43]:
'abc' <= 'ABC'

False

In [44]:
left=30
right=20
left<=right

False

In [45]:
left>=right

True

In [46]:
x=999
z=898
x!=z

True

In [22]:
#prime number yes or not
num=31
flag = False
if num == 1:
    print(num,"is not a prime number")
elif num>1:
    for i in range(2,num):
        if (num%i) ==0:
            flag = True
            break
if flag:
    print(num,"is a prime number")
else:
    print(num,"is not a prime number")

31 is not a prime number

In [26]:
ll = -33
li = 12
product = ll*li
res= -1*product
print(res)

396

In [29]:
kik = True
if kik == False:
    kik = True
else:
    kik = False
kik

False

In [32]:
cat = 7897
mat = 3
floor = cat//mat
floor

2632

In [36]:
seed = 40
soil = 1.8
contextures = seed/soil
print(contextures)
round(contextures)

22.22222222222222

22

In [37]:
off,on = 0,1
if (off and on) == 0:
    print("operation 'and'")
else:
    print("operation 'or'")

operation 'and'

In [45]:
ulm = 3
shape = "design "
res = ulm*shape
res*=2
res

'design design design design design design '

# Python Logical Operators
and
or 
not

In [49]:
a,b=2,10
a and b

10

In [50]:
price = 9.99
price > 9 and price < 10

True

In [51]:
price > 10 and price < 20

False

In [52]:
price > 10 or price < 20

True

In [53]:
price < 10 or price < 20

True

In [57]:
print(1 or 0)
print(0 or 1)
print(1 or 1)
print(0 or 0)

1
1
1
0

In [59]:
print(1 and 0)
print(0 and 1)
print(0 and 0)
print(1 and 1)

0
0
0
1

In [60]:
not (True or True)

False

In [61]:
not(False and True)

True

Operator        Precedence
--------        ----------
not             High
and             Medium
or              Low

In [63]:
1 or 0 and 1 # 1 or (0 and 1) = 1 or 0 = 1

1

In [64]:
f_name,m_name,l_name = "Sujon","H","jakir"
print(f_name,m_name,l_name)

Sujon H jakir

In [2]:
logic = 1
log = 0
if logic == 1:
    log = 0
else:
    logic = 1
print(log)
print(logic)

0
1

In [4]:
book = 92
box = 20
carry = book/box
if carry%2 == 0:
    print("Currect !")
else:
    print("Not currect!")

Not currect!

In [6]:
how = "This is how we can get good new think "
how*=3
how

'This is how we can get good new think This is how we can get good new think This is how we can get good new think '

In [8]:
age = 22
mark = 92
if age>20 or mark>92:
    print("You are eligible to attend the exam")
else:
    print("You are not eligible to attend the exam")

You are eligible to attend the exam

In [11]:
answer = input("Continue?")
if answer=='Y' or answer=='y':
    print("continuing")
if answer=='N' or answer=='n':
    print("stop")
else:
    print("ERROR")

Continue?y
continuing
ERROR

In [12]:
total_weight = int(input('Enter total weight of luggage:'))
num_pieces = int(input('Number of pieces of luggage?'))

if total_weight / num_pieces > 50:
   print('Average weight is greater than 50 pounds -> $100 surcharge.')

print('Luggage check complete.')

Enter total weight of luggage:52
Number of pieces of luggage?10
Luggage check complete.

In [13]:
yesno = input('Enter Yes or No:')
if len(yesno) > 0:
   if yesno[0] == 'Y':
      print('Yes!')

Enter Yes or No:Yes
Yes!

In [ ]:
if len(yesno) > 0 or yesno[0] == 'Y':
   print('Yes!')

In [14]:
(14*24*60*60) > 100000

True

# Identity operators
is      -> '=='
is not  -> '!='

In [72]:
a = 100
b = 10*10
a is not b

False

In [73]:
not(a is b)

False

In [77]:
yy = 420
xx = 10*(40+20)
yy is not xx

True

In [80]:
country = 'Bangladesh'
country1 = 'Bangladesh'
country is not country1

False

In [85]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x
print(x is not y)
print(z is y)

True
False

In [87]:
print(x == z)

True

In [15]:
x = '101'
y = '101'
z = '102'
if (x is y):
  print ('x is y')
else:
  print ('x is not y')
if (x is z):
  print('x is z')
else:
  print ('x is not z')
if (y is z):
  print('y is z')
else:
  print ('y is not z')

x is y
x is not z
y is not z

In [16]:
x = '101'
y = '101'
z = '102'
if (x is not y):
  print ('x is not y')
else:
  print ('x not y')
if (x is not z):
  print ('x is not z')
else:
  print ('x is z')
if (y is not z):
  print ('y is not z')
else:
  print ('y is z')

x not y
x is not z
y is not z

In [19]:
a=15
b=15
c="apple"
d="apple"
e=[1,2,3]
f=[1,2,3]
x=a is b     # output of x is True
y=c is d     # output of y is True
z=e is f     # output of z is False
z

False

# Python Membership Operators

There are 2 types of membership operators in Python and they are:
in
not in

In [21]:
a="I am learning Python"
b={1:'apple',2:'ball'}      # it is a dictionary where 1 is key and apple is its value
x="Python" in a             # output of x is True
y=3 in b     

print(x)
print(y)

True
False

In [22]:
item = 29
list_1 = list(range(1, 30))
print(item in list_1)

True

In [23]:
a = "neloy"
list_1 = ['neloy', 'roman', 'mohammod']
print(a in list_1)

True

In [24]:
print('z' not in 'Hello')
print('S' not in 'School')

True
False

In [26]:
print(4 in {0, 15, 25})
print('the' in {'Spiderman', 'is','the', 'best'})

False
True

In [27]:
a = 'School'
print(type(a) is str)

True

In [28]:
avangers = ["iron-man","thor","spider-man","hulk","captain-america"]
print('ant-man' in avangers)

False

In [29]:
num = [10, 20, 30, 40, 50 ];
print(10*5 in num)

True

In [30]:
list1=[0,2,4,6,8]
list2=[1,3,5,7,9]
#Initially we assign 0 to not overlapping
check=0

for item in list1:
    if item in list2:
        #Overlapping true so check is assigned 1
        check=1
        
          
if check==1:
    print("overlapping")
else:
    print("not overlapping")

not overlapping

In [31]:
a = 70
b = 20
list = [10, 30, 50, 70, 90 ];

if ( a not in list ):
 print("a is NOT in given list")
else:
 print("a is in given list")

if ( b not in list ):
 print("b is NOT present in given list")
else:
  print("b is in given list")

a is in given list
b is NOT present in given list

In [32]:
x = 'Educative'
if (type(x) is str):
    print("true")
else:
    print("false")

true

In [33]:
x = 6.3
if (type(x) is not float):
    print("true")
else:
    print("false")

false